@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr 420px;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #fff;
}

.content{
  grid-area: main;
  padding: 50px 40px;
}

.logo-marquee{
  display: flex;
  justify-content: space-evenly;
}

.footer{
  grid-area: footer;
  background-color: #007a37;
}

.upper-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#3C474B;
  color: #fff;
}

.lang{
  display: flex;
  align-items: center;
}

.lang button{
  margin:0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lang img{
  height:30px;
  width: 35px;
  margin: 0 2px;    
}
nav{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

/*Dropdown menu*/
/* Dropdown Button */

.dropdown{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dropbtn {
  text-align: left;
  width: 100%;
  background-color: #007a37;
  color: white;
  padding: 16px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid #007a37;
  display: flex;
  align-items: center;
}

.dropbtn i{
  font-size: 25px;
  margin-right: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
  color: #007a37;
  border: 1px solid #007a37;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-left: 12px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #007a37;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Clear floats after the columns */

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #f0f0f0;
  height: 250px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo img{
  height: 110px;  
  width: 110px;
}

.search-bar{
  position: relative;
  width: 40%;
  height: 40px;
}

.search-bar input{
  width: 100%;
  height: 100%;
  border: 1px solid  #c0c0c0;
  border-radius: 20px;
  padding: 0 10px;
  outline: none;
}

.search-bar button{
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 20px;
  background-color: #00A349;
  color: #fff;
  cursor: pointer;
}

.search-bar button:hover{
  background-color: #fff;
  color:  #00A349;
  border: 1px solid  #00A349;
}

.cart{
  display: flex;
  align-items: center;
}

.cart i{
  color: #00A349;
  font-size: 30px;
  margin-right: 5px;
}

.upper-content{
  display: flex;
}

/*Footer*/

.footer{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.footer-child{
  flex: 1 1 270px;
  margin: 20px;

}

.footer h5{
  text-transform: uppercase;
  text-align: center;
}

.footer p,h5{
  margin: 0;
}

.footer-title{
  margin-bottom: 20px;
}

.other-social{
  margin: 30px 0;
}

.other-social i{
  font-size: 40px;
  margin:0 10px;
  transition: all 0.5s ease;
}

.other-social i:hover{
  transform: scale(1.2);
}

.fa-facebook{
  color: #0b83ed;
}

.fa-youtube{
  color:#EA2027;
}

.fa-twitter{
  color: #0b83ed; 
}

.fa-pinterest{
  color: #e60023;
}

/*Slideshow*/
.carousel{
  width: 70%;
}

/*Tin tuc*/
.news{
  width: 28%;
  margin-left: 1%;
}

.news-title{
  width: 100%;
  background-color:#00A349; 
  padding: 5px 20px; 
  color: #fff;    
}

.news-content i {
  color: #e67e22;
  margin-right: 5px;
}

.news-content a{
  text-decoration: none;
  color: #000;
}

.news-content a:hover{
  color: #e67e22;
}

.news-content p{
  margin: 0;
}

 .menu-container{
  width: 100%;
  height: 250px;
  background-color: #fff;
  margin-top: 20px;
  display: grid;
  grid-template-columns:auto auto auto;
  border-radius: 5px;
  overflow: hidden;
}

.menu-container a{
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #000 ;
  transition: all 0.3s ease;
}

.menu-container a:hover{
  color:#00A349;
}
/* 
.menu-container a:hover{
  transform: scale(1.1);
}

.category{
  border: none;
  text-align: center;
}

.menu-item1{
  background-color: #1abc9c;
}

.menu-item2{
  background-color: #3498db;
}

.menu-item3{
  background-color: #9b59b6;
}

.menu-item4{
  background-color: #f1c40f;
}

.menu-item5{
  background-color: #e74c3c;
}

.menu-item6{
  background-color: #e67e22;
}

.menu-item7{
  background-color: #fd79a8;
}

.menu-item8{
  background-color: #a29bfe;
}

.menu-item9{
  background-color: #fdcb6e;
}

.menu-item10{
  background-color: #badc58;
}

.menu-item11{
  background-color: #7ed6df;
}

.menu-item12{
  background-color: #6ab04c;
}

.menu-item13{
  background-color: #b33939;
}

.menu-item14{
  background-color: #1abc9c;
} */

/*Products Box*/

.product-container{
  width: 100%;
  display: flex;
}

.products-box{
  width: 75%;
 
}

.product-section{
  margin-top: 40px;
}

.product-title{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.product-title a{
  position: absolute;
  background-color: #EA2027;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px!important;
}

.product-title a:hover{
  color: #fff;
  text-decoration: underline;
}

.product-title img{
  width: 50%;
  height: 80px;
}

.product-content{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

.product{
  display: flex;
  flex-direction: column;
  width: 250px;
  border-top: none;
}

.product img{
  width: 250px;
  height: 200px;
}

.product p{
  margin-bottom: 20px;
}

.product a{
  text-decoration: none;
}

.product-name{
  font-weight: bold;
}

.product img{
  max-width: 100%;
  transition: 0.3s;
}

.product img:hover{
  transform: scale(0.9);
}

.product p{
  margin: 0;
}

.norm-btn{
  text-align: center;
  width: 50%;
  border: none;
  border-radius: 4px;
  background-color: #00A349;
  color: #fff;    
  padding: 8px 16px;
  margin-left: 5px;
}

.btn-container{
  margin: 10px;
}

.norm-btn:hover{
  color: #007a37;
  background-color: #fff;
  border: 1px solid #007a37;
}

/*Sidebar*/

.sidebar{
  max-width: 30%;
}

.sidebar-title{
  background-color:  #00A349;
}

.sidebar-title a{
  text-decoration: none;
  color: #fff!important;
  padding: 10px 10px!important;
  position: relative;
}

.sidebar-title a:hover{
  text-decoration: underline;
}

.sidebar-content a{
  text-decoration: none;
  color: #000;
}

.sidebar-content a:hover{
  text-decoration: underline;
}

.content-img img{
  width: 100%;
}

.sub-content{
  margin-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.sub-content a{
  text-decoration: none;
  color: #000;
}


.sub-content img{
  width: 20%;
  float: left;
  margin: 0 10px;
}

.sub-content p{
  width: 80%;
}

.logo-marquee{
  margin-top: 50px;
}

/*Product Details*/

.detail{
  display: flex;
  margin-top: 30px;
}

.detail-info ul{
  list-style: none;
}

.detail-image{
  width: 50%;
}

.detail-image img{
  min-width: 250px;
  min-height: 200px;
  margin-left: 100px;
}

.detail-info{
  width: 50%;
}

.detail button{
  border: none;
  padding: 8px 16px;
  background-color: #00A349;
  border: 1px solid #00A349;
  color: #fff;
  border-radius: 3px;
  margin-top: 30px;
}

.detail button:hover{
  color: #007a37;
  background-color: #fff;
  border: 1px solid #007a37;
}

.ul-parameter{
  list-style: none;
}

.nav-pills{
  border-bottom: 1px solid #c0c0c0;
}


/*News page*/

.newspage{
  width: 100%;
}

.newspage h1{
  margin-bottom: 1  0px;
}

.news-content {
  margin-top: 10px;
}

/*Sending Form page*/
.container{
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  border-radius:4px;
  box-shadow: 0 2px 5px rgb(0,0,0,0.3);
  overflow:hidden;
  width:400px;
  max-width: 100%;
}

.form{
  padding: 30px 40px;
}

.form-control{
  position:relative;
  font-family: inherit;
  margin-bottom:10px;
  padding-bottom:20px;
  border: none;
}
.form-control label{
  display:inline-block;
  margin-bottom:5px;
}
.form-control input{
  display:block;
  font-family:inherit;
  border: 2px solid #f0f0f0;
  border-radius:4px;
  font-size:16px;
  padding:10px;
  width:95%;
}
.form-control input:focus{
  outline:none;
}
.form-control.success input{
  border-color:#2ecc71;
}
.form-control.error input{
  border-color:#EA2027;
}
.form-control i{
  position:absolute;
  right:10px;
  top:40px;
  visibility:hidden;
}
.form-control.success i.fa-check-circle{
  color:#2ecc71;
  visibility:visible;
}
.form-control.error i.fa-exclamation-circle{
  color:#EA2027;
  visibility:visible;
}
.form-control small{
  position:absolute;
  left:0;
  bottom:0;
  visibility:hidden;
}
.form-control.error small{
  color:#EA2027;
  visibility:visible;
}
button{
  width:100%;
  background-color:#8854d0;
  border-radius:3px;
  border:1px solid #8854d0;
  cursor:pointer;
  padding:10px;
  font-family:inherit;
  color:#fff;
}
button:hover{
  background-color:#fff;
  color:#8854d0;
}